<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta content="fullscreen=yes,preventMove=no" name="ML-Config">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-startup-image" href="logo.png" />
	<meta name="format-detection" content="telephone=no; email=no" />
	<meta http-equiv="Cache-Control" content="max-age=7200" />
	<meta http-equiv="Expires" content="Mon, 20 Jul 2009 23:00:00 GMT" /> 
	<meta content="fullscreen=yes, preventMove=no" name="ML-Config" />
	
	<meta name="copyright" content="Copyright (c) 2014 有薪易">
	<link type="text/less" rel="stylesheet/less" href="css/css.less" />
	<script src="js/jquery-2.2.1.min.js"></script>
	<script src="js/less.min.js"></script>
</head>
<body>
{{>banner}}
{{>header}}
{{{body}}}
{{>footer}}
</body>
</html>